<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SXcontrol</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="logo">SX<span>control</span></div>
    </header>

    <main>
        <section class="hero">
            <h1>Contruimos <sapn>software libre</sapn></h1>
            <p>comunidad, tecnologia y proyectos con proposito.</p>
            <a href="#">Conocer SXcontrol</a>
        </section>
    </main>

</body>
</html>
