<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SXcontrol</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
    <div class="logo">SX<span>control</span></div>
    <nav>
        <ul>
            <li><a href="{{ url_for('comunidad') }}">Comunidad</a></li>
            <li><a href="{{ url_for('proyectos') }}">Proyectos</a></li>
            <li><a href="{{ url_for('consultoria') }}">Consultoría</a></li>
            <li><a href="{{ url_for('tienda') }}">Tienda</a></li>
            <li><a href="{{ url_for('blog') }}">Blog</a></li>
        </ul>
    </nav>
</header>

    <main>
        <section class="hero">
            <h1>Contruimos <span>software libre</span></h1> 
            <p>Comunidad, tecnologia y proyectos con proposito.</p>
            <a href="{{ url_for('comunidad')}}" class="btn">Conocer SXcontrol</a>
        </section>
    </main>

</body>
</html>
